@{
    Layout = "_Layout";
}

<div class="text-container">
<h3> Nice try, @Model.UserName, you Bozo! You weren't authorized to see that page!!</h3>


<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
</div>