@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
<div class="text-container">
<h1>Are you sure you would like to delete this recipe?</h1>
</div>

<div class="text-container">
<h3>Recipe : @Html.DisplayFor(model => model.RecipeName)</h3>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<hr>
@Html.ActionLink("Back to recipe list", "Index")
</div>