@{
    Layout = "_Layout";
}
@using RecipeBox.Models;

<h1>Welcome to Your Recipe Box!</h1>

<p>@Html.ActionLink("Manage recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("Manage ingredients", "Index", "Ings")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>