@{
    Layout = "_Layout";
}
@using RecipeBox.Models;

@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome to Your Recipe Box, @User.Identity.Name!</h1>
}
else
{
    <h1>Hello, Welcome to Recipe Box!</h1>
}

<p>@Html.ActionLink("Manage recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("Manage ingredients", "Index", "Ings")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>