@{
    Layout = "_Layout";
}
<div class="text-container">
<h1>Account Management</h1>
</div>

<div class="text-container">
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" value="Log out" />
    }
}

else
{
<p>@Html.ActionLink("Register", "Register")</p>
<p>@Html.ActionLink("Log in", "Login")</p>
}
<hr>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>