@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Ing 

<div class="text-container">
<h2> Add an Ingredient to database</h2>
</div>

<div class="text-container">
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add Ingredient">
}
<hr>

<p>@Html.ActionLink("Back to Ingredients", "Index")</p>
</div>