@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Ing 

<h2> Add an Ingredient to database</h2>
<hr>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add Ingredient">
}
<hr>

<p>@Html.ActionLink("Back to Ingredients", "Index")</p>