@{
    Layout = "_Layout";
}

@using RecipeBox.Models;

<div class="text-container">
<h1>Ingredients</h1>
</div>

<div class="text-container">
@if (Model.Count == 0)
{
    <h3>No ingredients have been added to the site's database, you jumbo dumbo!</h3>
}
else 
{
        @foreach (Ing ing in Model)
        {
            <h5>
            @ing.Name
            @using (Html.BeginForm("Delete", "Ings"))
            {
                @Html.Hidden("id", ing.IngId)
                <input type="submit" value="Delete" />
            }
            </h5>
        }
    
}
<hr>

<p>@Html.ActionLink("Add Ingredient", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
</div>